body{
	background-color:#232323;	
	font-family: "Arial";	
	margin: 0;
}
h1{
	font-weight: normal;
	text-transform: uppercase;
	color: white;
	background-color: steelblue;
	margin: 0;
	text-align: center;
	padding: 15px;
}
button{
	font-size: inherit;	
	background: none;
	background-color: none;
	border: none;
	height: 100%;
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	transition: all 0.3s;
	outline: none;
}
button:hover {
  color: white;
  background-color: steelblue;
}
.selected {
  color: white;
  background-color: steelblue;
}
#container{
	margin: 0px auto;
	max-width: 600px;
}


.square{
	float: left;
	width:30%;
	padding-bottom:30%;
  margin: 1.66%;
	background-color:purple;
	border-radius: 15%;
	transition: background 0.6s;
}

#message{
	font-size: inherit;
	background: none;
	background-color: none;
	border: none;
	height: 100%;
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;	
	display: inline-block;
	width: 20%;

}

#colorselected{
	font-size: 200%;
}


#stripe{
	color: black;
	background-color: white;
	height: 30px;
	text-align: center;
}
